<div class="task-item">
  {{!-- Toggle completion --}}
  <input
    type="checkbox"
    checked={{@task.completed}}
    {{on "change" (fn this.toggleCompletion @task)}}
  />

  {{!-- Task title --}}
  <span class={{if @task.completed "completed"}}>{{@task.title}}</span>

  {{!-- Edit task --}}
  <button {{on "click" (fn this.editTask @task)}}>
   Edit
  </button>

  {{!-- Delete task --}}
  <button {{on "click" (fn this.deleteTask @task)}}>
    Delete
  </button>
</div>
